:root {
  --primary-color: #362b45;
}

#showcase {
  background: url("../img/showcase.jpg") no-repeat center center / cover;
  height: 90vh;
  position: relative;
  .container {
    text-align: center;
  }
  h1 {
    margin-top: 170px;
    color: #fff;
    font-size: 45px;
  }
  p {
    color: #fff;
    font-size: 25px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    mix-blend-mode: overlay;
    opacity: 1;
  }
}

#section-a {
  background: url("../img/section.jpg") no-repeat bottom center/cover;
  height: 300px;
  position: relative;
  color: #fff;
  text-align: center;
  h1 {
    margin-top: 120px;
  }
}

#section-a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #391f5e;
  opacity: 0.6;
}

#services {
  margin: 25px 5px;
  text-align: center;

  .fas {
    font-size: 60px;
    color: var(--primary-color);
  }
}

#about {
  text-align: center;
  .rounded-circle {
    border-radius: 50%;
  }
  .fab {
    font-size: 50px;
  }
}

.section-b {
  margin-top: 50px;
  .panel-title,
  .panel-heading {
    background: var(--primary-color);
    color: #fff;
  }
  #accord-img {
    width: 100%;
    height: 100%;
  }
}

.footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
  ul {
    list-style: none;
  }

  li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
  }
  .footer-bottom {
    background: var(--primary-color);
    color: #fff;
    padding: 1.3rem;
  }
}

@media (max-width: 600px) {
  .footer-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
